
        .container {
            background-color: blanchedalmond;
            height: 80vh;
            width: 50vw;
        }

        .box {
            width: 200px;
            height: 50px;
            background-color: rgb(147, 184, 240);
            animation-name: Animation2;
            animation-duration: 3s;
            animation-iteration-count: 3;
            animation-timing-function: ease-in-out;
            animation-delay: 1s;
            animation-direction: reverse;
            /* animation-play-state: paused; */
            /* animation: name duration timing-function delay iteration-count direction fill-mode; */

        }

        @keyframes Animation1 {
            from {
                background-color: red;
            }

            to {
                transform: translateX(100vw);
                background-color: rgb(190, 121, 37);
            }
        }

        @keyframes Animation2 {
            0% {
                transform: rotate(100deg);
                background-color: rgb(181, 244, 244);
            }

            20% {
                transform: rotate(200deg);
                background-color: rgb(98, 207, 207);
            }

            50% {
                transform: rotate(220deg);
                background-color: rgb(29, 147, 147);
            }

            80% {
                transform: rotate(300deg);
                background-color: rgb(6, 90, 90);
            }

            100% {
                transform: rotate(310deg);
                background-color: rgb(3, 44, 44);
            }
        }